{% extends "public/base.html" %}
{% block title %}Home{% endblock %}

{% block main %}
<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <!-- poster carousel -->
    <div class="col-12 col-sm-12 col-lg-7">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="static/img/poster1.jpg" class="d-block w-100" alt="poster1">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="static/img/poster2.jpg" class="d-block w-100" alt="poster2">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="static/img/poster3.jpg" class="d-block w-100" alt="poster3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- intro paragraph -->
    <div class="col-lg-5">
      <h1 id="home-page-title" class="display-5 fw-bold text-body-emphasis lh-sm mb-3 text-center text-lg-start">Welcome to <br> Fresh Harvest</h1>
      <p class="lead">
        Your destination for <strong><em>fresh, organic, and locally sourced vegetables</em></strong>. 
        We're passionate about healthy living and bringing the best from our farm to your table. 
        Explore our selection and taste the difference!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-center">
        <a href="/register/">
          <button id="join-now" type="button" class="btn btn-lg orange-button px-4 me-md-2">Sign Up</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}